<!DOCTYPE html>
<html>
<head>
  <!--<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title> -->

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- [if lt IE 9] >
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <! [endif] -->
</head>
<body>
<header style="background-color:#666">
	<p style="font-size: 1.6em; color: #CCC;"align="center"><%= yield(:title) %></p>
</header>

<%= yield %>

<footer style="background-color:#CCC">
	<a href="/static_pages/home">HOME</a>
	<a href="/static_pages/about">ABOUT US</a>
	<a href="/static_pages/help">HELP</a>
	<a href="/static_pages/contact">CONTACT</a>
	<p style="font-size: 0.8em; color: #666;" align="right">©2013 Rails - Sample App</p>
</footer>
</body>
</html>
